.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    
    padding: 25px;
  
}

.dialogItems .active {
    color: red;
}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialog a.activeLink {
    color: darkblue;   
}

.messages {

}

.message {

}
