.myMessages {
    display: grid;
    grid-template-columns: 2fr 10fr;
    /* align-items: end; */
}

.dialogsBar {
    background-color: rgba(216, 198, 198, 0.637);
    height: 95vh;
}

.messages {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: ifr;
    align-items: end;
}