.userLine {
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows: 1fr;
    background-color: hsla(120, 86%, 11%, 0.9) ;
    
}


.leftSide {
    display: grid;
    grid-template-columns: 1fr;
    width: 100px;
    padding: 10px;
}

.leftSide img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.centralSide {

}

.centralSide h4 {
    color: white;
    border-color: black;
    border: black;
}

.selectedPage {
    font-weight: bold;
}