.message {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    background-color: rgba(216, 198, 198, 0.637);
    min-width: 100px;
    max-width: 80%;
    border-radius: 13px;
    margin: 20px 20px 20px 20px;
    /* justify-items: end;     */
}
