.formControl.error input,
.formControl.error textarea {
  border: solid red 2px;
}

.formControl.error span {
  color: red;
  justify-content: center;
}

.formControl {
  display: grid;
}

.errorSpan {
  display: grid;
}

.formControlTextarea {
  max-width: 300px;
}

.formControlTextarea.error input,
.formControlTextarea.error textarea {
  border: solid red 2px;
}

.formControlTextarea.error span {
  color: red;
  justify-content: center;
}
