.nav{
    grid-area: n;
    background:hsla(120, 86%, 11%, 0.9) ;
    /* background-color: rgb(106, 150, 128); */
    padding: 25px;
    /* margin-top: 3px; */
  }

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink{
  color: gold;
}