.badge {
  margin-right: 1vh;
  vertical-align: middle;
}

.badge img {
  width: 35px;
  height: 35px;
  border-radius: 17px;
  margin-top: 6px;
  margin-left: 6px;
}

.name {
  margin-right: 3vh;
  justify-content: center;
  align-items: center;
}
