.header{
    grid-area: h;
    background: hsla(120, 86%, 11%, 0.9) ;
}
  
.header img {
    width: 43px;
    margin-top: 6px;
    margin-left: 6px;
}
  
.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}
 