.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c"
  "f f";

  grid-template-rows: 5vh auto 0px;
  grid-template-columns: 2fr 10fr;
  /* gap: 10px; */

  width: 150vh;
  height: 100vh;
 
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgba(36, 49, 56, 0.8);
  overflow-y: scroll;
  /* padding-bottom: 0px; */
}

.wholePage {
 
}